header {
    background-image: url(./concessionnaire-automobile-1080x640.jpg);
    background-color: rgba(128, 128, 128, 0.212);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 10px;
    height: 30vh;
}
header img {
    margin-right: 13rem;
}

/*admin.html*/
main#admin {
    display: flex;
    flex-direction: column;
}
h1#admin_title, div#admin_title {
    display: flex;
    justify-content: center;
    margin: 2%;
}
div#admin_car {
    display: flex;
    justify-content: space-around;
}
div#car {
    padding-top: 3%;
}

div#customer {
    margin-top: 2%;
}

@media screen and(max-width:600px){
    header img {
        margin-left: 0;
    }
}